@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Bitter";
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

select:invalid {
  color: gray; }

nav {
  background-color: #0D60AA;
}
h1 {
  text-align: center;
  font-size: 2rem !important;
  font-family: 'Kanit', sans-serif;
  color: #FFFFFF; }

@media only screen and (max-width: 350px) {
  /* For mobile phones: */
  h1 {
    font-size: 1.5rem !important;
  }
}

main {
  background-color:silver;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;}



form {
  border: 2px solid #011329;
  background-color: #F0FBF3;
  border-radius: 10px;
}
main fieldset {
  padding: 0.4rem;
  }
main fieldset legend {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Noto Sans', sans-serif; }
  

  
main .submit {
  margin-left: 45%; }

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group-vertical {
  display: flex;
  justify-content: center;
}