{% extends "base.html" %}

{% block main %}
<section class="main">
    <div class="container">
        <form action="./send_report" method='post'>
            <div class="row">
                <!--<form action="">-->
                <div class="col-md-6">
                    <div class="hinh_thuc_bao_cao">
                        <fieldset>
                            <legend>Hình Thức Báo Cáo</legend>
                            <label for="tu_nguyen">Tự nguyện</label>
                            <input type="radio" checked name="hinh_thuc" id="tu_nguyen" value="Tự nguyện">
                            <label for="bat_buoc">Bắt buộc</label>
                            <input type="radio" name="hinh_thuc" id="bat_buoc" value="Bắt buộc">
                            <br><br>
                            <label for="ngay_bao_cao">Ngày báo cáo</label>
                            <input type="date" id="ngay_bao_cao" name="ngay_bao_cao" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{1,2}-\d{1,2}">
                            <br><br>
                            <label for="don_vi_bao_cao">Đơn vị báo cáo</label>
                            <select name="don_vi_bao_cao" id="don_vi_bao_cao">
                                <option value="Ngoại thần kinh">Ngoại thần kinh</option>
                                <option value="Nội tổng quát">Nội tổng quát</option>
                                <option value="Dược">Dược</option>
                                <option value="Xét nghiệm">Xét nghiệm</option>
                                <option value="Quản lý chất lượng">Quản lý chất lượng</option>
                                <option value="Tài chính kế toán">Tài chính kế toán</option>
                                <option value="Kế hoạch tổng hợp">Kế hoạch tổng hợp</option>
                                <option value="Tổ chức cán bộ">Tổ chức cán bộ</option>
                                <option value="Ngoại tổng hợp">Ngoại tổng hợp</option>
                                <option value="Phẫu thuật GMHS">Phẫu thuật GMHS</option>
                                <option value="Ngoại lồng ngực">Ngoại lồng ngực</option>
                                <option value="Sơ sinh">Sơ sinh</option>
                                <option value="Tai mũi họng">Tai mũi họng</option>
                                <option value="Tim mạch">Tim mạch</option>
                                <option value="Hô hấp">Hô hấp</option>
                                <option value="Tiêu hoá">Tiêu hoá</option>
                                <option value="Thận nội tiết">Thận nội tiết</option>
                                <option value="Huyết học lâm sàng">Huyết học lâm sàng</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="thong_tin_nguoi_benh">
                        <fieldset>
                            <legend>Thông Tin Người Bệnh</legend>
                            <label for="ho_ten_nguoi_benh">Họ và tên </label>
                            <input type="text" class="form-control"  name="ho_ten_nguoi_benh" id="ho_ten_nguoi_benh">
                            <br>
                            <label for="so_benh_an">Số bệnh án </label>
                            <input type="text" class="form-control"  name="so_benh_an" id="so_benh_an" placeholder="12345678">
                            <br>
                            <label for="ngay_sinh">Ngày sinh </label>
                            <input type="date" name="ngay_sinh"  id="ngay_sinh" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{1,2}-\d{1,2}">
                            <br><br>
                            <label>Giới Tính</label>
                            <input type="radio" checked name="gioi_tinh" value="Nam" id="nam">
                            <label for="nam">Nam</label>
                            <input type="radio" name="gioi_tinh" value="Nữ" id="nu">
                            <label for="nu">Nữ</label>
                            <br><br>
                            <label for="khoa_phong">Khoa phòng</label>
                            <select name="khoa_phong" id="khoa_phong">
                                <option value="Ngoại thần kinh">Ngoại thần kinh</option>
                                <option value="Nội tổng quát">Nội tổng quát</option>
                                <option value="Dược">Dược</option>
                                <option value="Xét nghiệm">Xét nghiệm</option>
                                <option value="Quản lý chất lượng">Quản lý chất lượng</option>
                                <option value="Tài chính kế toán">Tài chính kế toán</option>
                                <option value="Kế hoạch tổng hợp">Kế hoạch tổng hợp</option>
                                <option value="Tổ chức cán bộ">Tổ chức cán bộ</option>
                                <option value="Ngoại tổng hợp">Ngoại tổng hợp</option>
                                <option value="Phẫu thuật GMHS">Phẫu thuật GMHS</option>
                                <option value="Ngoại lồng ngực">Ngoại lồng ngực</option>
                                <option value="Sơ sinh">Sơ sinh</option>
                                <option value="Tai mũi họng">Tai mũi họng</option>
                                <option value="Tim mạch">Tim mạch</option>
                                <option value="Hô hấp">Hô hấp</option>
                                <option value="Tiêu hoá">Tiêu hoá</option>
                                <option value="Thận nội tiết">Thận nội tiết</option>
                                <option value="Huyết học lâm sàng">Huyết học lâm sàng</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="su_co">
                        <fieldset>
                            <legend>Đối Tượng Xảy Ra Sự Cố</legend>
                            <input type="radio" checked name="doi_tuong" value="Người bệnh" id="nguoi_benh">
                            <label for="nguoi_benh">Người bệnh</label>
                            <br>
                            <input type="radio" name="doi_tuong" value="Người nhà hoặc khách đến thăm" id="nguoi_nha_den_tham">
                            <label for="nguoi_nha_den_tham">Người nhà/khách đến thăm</label>
                            <br>
                            <input type="radio" name="doi_tuong" value="Nhân viên y tế" id="nhan_vien_y_te">
                            <label for="nhan_vien_y_te">Nhân viên y tế</label>
                            <br>
                            <input type="radio" name="doi_tuong" value="Trang thiết bị hoặc cơ sở hạ tầng" id="trang_thiet_bi">
                            <label for="trang_thiet_bi">Trang thiết bị/cơ sở hạ tầng</label>
                        </fieldset>
                        <fieldset>
                            <legend>Nơi Xảy Ra Sự Cố</legend>
                            <label for="vi_tri_xay_ra">Nơi xảy ra sự cố </label>
                            <select name="vi_tri_xay_ra" id="vi_tri_xay_ra">
                                <option value="Ngoại thần kinh">Ngoại thần kinh</option>
                                <option value="Nội tổng quát">Nội tổng quát</option>
                                <option value="Dược">Dược</option>
                                <option value="Xét nghiệm">Xét nghiệm</option>
                                <option value="Quản lý chất lượng">Quản lý chất lượng</option>
                                <option value="Tài chính kế toán">Tài chính kế toán</option>
                                <option value="Kế hoạch tổng hợp">Kế hoạch tổng hợp</option>
                                <option value="Tổ chức cán bộ">Tổ chức cán bộ</option>
                                <option value="Ngoại tổng hợp">Ngoại tổng hợp</option>
                                <option value="Phẫu thuật GMHS">Phẫu thuật GMHS</option>
                                <option value="Ngoại lồng ngực">Ngoại lồng ngực</option>
                                <option value="Sơ sinh">Sơ sinh</option>
                                <option value="Tai mũi họng">Tai mũi họng</option>
                                <option value="Tim mạch">Tim mạch</option>
                                <option value="Hô hấp">Hô hấp</option>
                                <option value="Tiêu hoá">Tiêu hoá</option>
                                <option value="Thận nội tiết">Thận nội tiết</option>
                                <option value="Huyết học lâm sàng">Huyết học lâm sàng</option>
                                <option value="Khác">Khác</option>
                            </select>
                            <br><br>
                            <label for="vi_tri_cu_the">Vị trí cụ thể</label>
                            <input class="form-control" type="text" name="vi_tri_cu_the" id="vi_tri_cu_the" placeholder="ví dụ: nhà vệ sinh, bãi đậu xe">
                            <br><br>
                            <label for="thoi_gian_xay_ra">Thời gian xảy ra</label>
                            <input type="datetime-local" name="thoi_gian_xay_ra" id="thoi_gian_xay_ra" placeholder="yyyy-mm-dd hh:mm">
                        </fieldset>
                        <fieldset>
                            <legend>Mô tả sự cố ngắn gọn</legend>
                            <textarea name="mo_ta" id="mo_ta"></textarea>
                        </fieldset>
                    </div>
                    <div class="de_xuat_giai_phap">
                        <fieldset>
                            <legend>Đề xuất giải pháp</legend>
                            <textarea name="de_xuat_giai_phap" id="de_xuat_giai_phap"></textarea>
                        </fieldset>
                    </div>
                    <div class="xu_ly_ban_dau">
                        <fieldset>
                            <legend>Điều trị/xử lý ban đầu</legend>
                            <textarea name="xu_ly_ban_dau" id="xu_ly_ban_dau"></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thong_tin_cho_bac_si">
                        <fieldset>
                            <legend>Thông tin cho bác sĩ điều trị/người có trách nhiệm</legend>
                            <ul>
                                <li>
                                    <input type="radio" checked name="thong_bao_cho_bac_si_hoac_nguoi_chiu_trach_nhiem" value="Có" id="co">
                                    <label for="co">Có</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_bac_si_hoac_nguoi_chiu_trach_nhiem" value="Không" id="khong">
                                    <label for="khong">Không</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_bac_si_hoac_nguoi_chiu_trach_nhiem" value="Không ghi nhận" id="khong_ghi_nhan">
                                    <label for="khong_ghi_nhan">Không ghi nhận</label>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Ghi nhận hồ sơ bệnh/giấy tờ liên quan</legend>
                            <ul>
                                <li>
                                    <input type="radio" checked name="ghi_nhan_ho_so" value="Có" id="co">
                                    <label for="co">Có</label>
                                </li>
                                <li>
                                    <input type="radio" name="ghi_nhan_ho_so" value="Không" id="khong">
                                    <label for="khong">Không</label>
                                </li>
                                <li>
                                    <input type="radio" name="ghi_nhan_ho_so" value="Không ghi nhận" id="khong_ghi_nhan">
                                    <label for="khong_ghi_nhan">Không ghi nhận</label>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Thông báo cho người nhà hoặc người bảo hộ</legend>
                            <ul>
                                <li>
                                    <input type="radio" checked name="thong_bao_cho_nguoi_nha_hoac_nguoi_bao_ho" value="Có" id="co">
                                    <label for="co">Có</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_nguoi_nha_hoac_nguoi_bao_ho" value="Không" id="khong">
                                    <label for="khong">Không</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_nguoi_nha_hoac_nguoi_bao_ho" value="Không ghi nhận" id="khong_ghi_nhan">
                                    <label for="khong_ghi_nhan">Không ghi nhận</label>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Thông báo cho người bệnh</legend>
                            <ul>
                                <li>
                                    <input type="radio" checked name="thong_bao_cho_nguoi_benh" value="Có" id="co">
                                    <label for="co">Có</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_nguoi_benh" value="Không" id="khong">
                                    <label for="khong">Không</label>
                                </li>
                                <li>
                                    <input type="radio" name="thong_bao_cho_nguoi_benh" value="Không ghi nhận" id="khong_ghi_nhan">
                                    <label for="khong_ghi_nhan">Không ghi nhận</label>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Phân loại ban đầu</legend>
                            <ul>
                                <li>
                                    <input type="radio" checked name="phan_loai_ban_dau" value="Chưa xảy ra" id="chua_xay_ra">
                                    <label for="co">Chưa xảy ra</label>
                                </li>
                                <li>
                                    <input type="radio" name="phan_loai_ban_dau" value="Đã xảy ra" id="da_xay_ra">
                                    <label for="da_xay_ra">Không</label>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Đánh giá ban đầu</legend>
                            <ul>
                                <li>
                                    <input type="radio" name="danh_gia_ban_dau" value="Nặng" id="nang">
                                    <label for="nang">Nặng</label>
                                </li>
                                <li>
                                    <input type="radio" checked name="danh_gia_ban_dau" value="Trung bình" id="trung_binh">
                                    <label for="nang">Trung bình</label>
                                </li>
                                <li>
                                    <input type="radio" name="danh_gia_ban_dau" value="Nhẹ" id="nhe">
                                    <label for="nhe">Nhẹ</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="thong_tin_bao_cao">
                        <fieldset>
                            <legend>Thông tin người báo cáo</legend>
                            <label for="ho_ten_nguoi_bao_cao">Họ và tên </label>
                            <input type="text" class="form-control"  name="ho_ten_nguoi_bao_cao" id="ho_ten_nguoi_bao_cao">
                            <br>
                            <label for="so_dien_thoai_nguoi_bao_cao">Số điện thoại</label>
                            <input class="form-control" type="tel" id="so_dien_thoai_nguoi_bao_cao" name="so_dien_thoai_nguoi_bao_cao" pattern="^\d*$">
                            <br>
                            <label for="email_nguoi_bao_cao">Email</label>
                            <input type="email" class="form-control" name="email_nguoi_bao_cao" id="email_nguoi_bao_cao" >
                            <br>
                            <label for="chuc_danh_nguoi_bao_cao">Chức danh người báo cáo</label>
                            <select name="chuc_danh_nguoi_bao_cao" id="chuc_danh_nguoi_bao_cao">
                                <option value="Bác sĩ">Bác sĩ</option>
                                <option value="Điều dưỡng">Điều dưỡng</option>
                                <option value="Người bệnh">Người bệnh</option>
                                <option value="Người nhà hoặc khách đến thăm">Người nhà hoặc khách đến thăm</option>
                                <option value="Khác">Khác</option>
                            </select>
                            <br><br>
                            <label for="chuc_danh_khac">Chức danh khác</label>
                            <input type="text" class="form-control" name="chuc_danh_khac" id="chuc_danh_khac">
                            <br>
                            <label for="nguoi_chung_kien_1">Người chứng kiến 1</label>
                            <input type="text" class="form-control" name="nguoi_chung_kien_1" id="nguoi_chung_kien_1">
                            <br>
                            <label for="nguoi_chung_kien_2">Người chứng kiến 2</label>
                            <input type="text" class="form-control" name="nguoi_chung_kien_2" id="nguoi_chung_kien_2">
                            <br>
                        </fieldset>
                    </div>
                    <br>
                    <div class="submit">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            <!--</form>-->
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    CKEDITOR.replace('mo_ta',{toolbar: []});
    CKEDITOR.replace('de_xuat_giai_phap', {toolbar: []});
    CKEDITOR.replace('xu_ly_ban_dau', {toolbar: []});
</script>
{% endblock %}   