{% extends "base.html" %}

{% block main %}
<main class="container-fluid">
<div class="row justify-content-center pt-3" >
    <button class="col-3 py-2 mx-1 p-0 btn btn-primary" type="button" id='tab1'>Nhanh</button>
    <button class="col-3 py-2 mx-1 p-0 btn btn-primary" type="button" id='tab2' style="opacity:0.6;">Đầy đủ</button>
</div>



<div class="row justify-content-center pt-3" >
  







{% include "form1.html" %}

{% include "form2.html" %}

</div>  
</main>
{% endblock %}

{% block script %}
<script>
const nbc = document.getElementById("ngay_bao_cao")
let today = new Date()
nbc.value = today.toISOString().slice(0,10);

const nbc1 = document.getElementById("ngay_gio_bao_cao1")
nbc1.value = today.toLocaleDateString() + " " + today.toTimeString().slice(0,5);
nbc1.onchange = (event) => {
  event.target.value = event.target.value.substr(0, 16);
};


const cdnbc = document.getElementById("chuc_danh_nguoi_bao_cao")
cdnbc.onchange = (event) => {
  const y = document.getElementById("chuc_danh_khac_div").style;
  if (cdnbc.value ==="Khác") {y.display='flex'}
  else {y.display='none'}
};

const sclq = document.getElementById("su_co_lien_quan1")
sclq.onchange = (event) => {
  const y = document.getElementById("su_co_lien_quan_khac_div").style;
  if (sclq.value ==="Khác") {y.display='flex'}
  else {y.display='none'}
};

const tgxr = document.getElementById('thoi_gian_xay_ra')
tgxr.onchange = (event) => {
  event.target.value = event.target.value.substr(0, 16);
};

const tab1 = document.querySelector('#tab1')
const tab2 = document.querySelector('#tab2')
const tabcontent1 = document.querySelector('#tabcontent1')
const tabcontent2 = document.querySelector('#tabcontent2')

tab1.onclick = (e) => {
  tabcontent2.style.display='none';
  tabcontent1.style.display='block';
  tab2.style.opacity=0.6;
  tab1.style.opacity=1;
}
tab2.onclick = (e) => {
  tabcontent1.style.display='none';
  tabcontent2.style.display='block';
  tab2.style.opacity=1;
  tab1.style.opacity=0.6;
}

</script>
{% endblock %}   